[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environ = "*"
split-settings = "*"
django-allauth = "*"
django-viewflow = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
