{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="post-container">
    <div class="card">
        <img  alt="нет фото" id="photo" class="card-img-top mx-auto" style="max-width: 80%; height: auto;">
        <h1 class="fw-bold mt-2 text-center" id="user"></h1>
        <h2 class="mt-2 text-center" id="description"></h2>
    </div>

    <div class="post card p-4 mb-4" id="post">
       <div id ='post-form'>
        <form id="comment-form" class="mb-3">
            <input type="hidden" name="content_type" value="photo">
            <div class="input-group">
                <input type="text" name="comment" class="form-control" placeholder="Ваш комментарий..." required>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
        <form id="like-form" class="mb-3">
            <button type="submit" class="btn btn-outline-danger">
                <img src="http://127.0.0.1:8000/static/images/heart.png" class="like-comment-image" alt="Лайк"/> 
                <span class="like-count">10</span>
            </button>
        </form>
       </div>

        <h3>Комментарии:</h3>
        <div id="comments">
            
        </div>
        
    </div>
</div>
{% endblock %}
{% block js %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getPhotoId() {
        const url = new URL(window.location.href); // Создаем объект URL
        const pathSegments = url.pathname.split('/'); // Разделяем путь по символу '/'
        const photoId = pathSegments[pathSegments.length - 2]; // Извлекаем предпоследний элемент
        return photoId;
        
    }

    async function fetchphoto() {
        const url = 'http://127.0.0.1:8000/api/photo/' + getPhotoId();
        const response = await fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const data = await response.json();
        console.log(data);

        document.getElementById('photo').src = data.photo;
        document.getElementById('user').textContent = data.user.username;
        document.getElementById('description').textContent = data.description;

        }
    document.addEventListener('DOMContentLoaded', () => {
        fetchphoto();
    });
    
    
    
</script>
<script>
    function getPhotoId(){
        const url = new URL(window.location.href); // Создаем объект URL
        const pathSegments = url.pathname.split('/'); // Разделяем путь по символу '/'
        const photoId = pathSegments[pathSegments.length - 2]; // Извлекаем предпоследний элемент
        return photoId;
    }
    async function fetchComments(photo_id) {
        const response = await fetch('http://127.0.0.1:8000/api/comments/' + photo_id +'/?page=1&per_page=10', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const data = await response.json();
        return data;
    }
    function addComment(comment) {
            comments=document.getElementById('comments');
            ulcomment = document.createElement('ul');
            ulcomment.classList.add('list-unstyled');
            newComment = document.createElement('li');
            newComment.classList.add('mb-4');
            newComment.id = `comment-${comment.id}`;
            newComment.innerHTML = `
                <div class="card p-3" id='comment-card'>
                    <img id='avatar' style="width: 40px; height: 40px;" src="${comment.user.avatar}"  class="img-fluid  me-2 "></img>
                    <p class="fw-bold" id='comment-user'>${comment.user.username}</p>
                    <p id='comment-text'>${comment.comment}</p>
                </div>
                `;
            ulcomment.appendChild(newComment);
            if (comment.comments.lenght >0) {
                comment.comments.forEach(comment => {
                    addComment(comment);
                });
            }
            comments.appendChild(ulcomment);

    }
    function renderComment() {
        post=document.getElementById('post-form');
        token = localStorage.getItem('token');
        if (!token) {
            document.getElementById('post-form').remove();   
        }
        photo_id = getPhotoId();
        data=fetchComments(photo_id);
        data.then(comments => {
            comments.results.forEach(comment => {
                addComment(comment);
            });
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        renderComment();
        
    })
    

    
</script> 
{% endblock %}