{% extends "base.html" %}
{% load static %}
{% block title %}Photo List{% endblock %}
{% block content %}
<div class="container mt-5">
    <form   class="mb-4">
        <select name="filter" id="filter"  class="form-select">
            <option value="comment_count">Comment Count</option>
            <option value="created_at">New</option>
            <option value="popularity">Popular</option>
        </select>
    </form>
    <form   class="mb-4">
        <select name="filter" id="filter_direction"  class="form-select">         
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </form>

    
    <div class="row" id='row'>
       
    </div>
    <form id="pagination-form" class="d-flex justify-content-center mt-4">
        <input type="hidden" name="page" id="page" value="1">
        <input type="hidden" name="per_page" id="per_page" value="10">
        <input type="button" id="prev-button" class="btn btn-primary me-2" value="Previous">
        <span id="current-page"></span> 
        <input type="button" id="next-button" class="btn btn-primary ms-2" value="Next" >
    </form>
</div>
{% endblock %}
{% block js %}


<script>
    async function likePhoto(id) {
        const response = await fetch('http://127.0.0.1:8000/api/likes/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                photo_id: id
            })
        });
        const data = await response.json();
        return data;
    }
    async function fetchPhotos(page = 1, per_page = 10, sort_field = 'created_at', sort_direction = 'desc') {
        const url = `http://127.0.0.1:8000/api/photos/?page=${page}&per_page=${per_page}&sort_direction=${sort_direction}&sort_field=${sort_field}`;
        const response = await fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const data = await response.json();
        
        // Очистка текущих фотографий
        const row = document.getElementById('row');
        row.innerHTML = '';

        next=data.pagination.next_page;
        prev=data.pagination.prev_page;
        if(next==null){
            document.getElementById('next-button').style.visibility = 'hidden';
            document.getElementById('next-button').disabled = true;
        }
        else{
            console.log(next);
            document.getElementById('next-button').style.visibility = 'visible';
            document.getElementById('next-button').disabled = false;
            document.getElementById('next-button').value=next;                        
        }
        if(prev==null){
            document.getElementById('prev-button').style.visibility = 'hidden';
            document.getElementById('prev-button').disabled = true;
        }
        else{
           
            console.log(prev);
            document.getElementById('prev-button').style.visibility = 'visible';
            document.getElementById('prev-button').disabled = false;
            document.getElementById('prev-button').value=prev;
            
        }

        document.getElementById('current-page').textContent = `Страница ${data.pagination.current_page} из ${data.pagination.total_pages}`;

        data.results.forEach(element => {
            const card = document.createElement('div');
            page_url='http://127.0.0.1:8000/photos/'+element.id
            card.classList.add('col-md-4', 'mb-4', 'text-center');
            card.innerHTML = 
                `
                <div class="card">
                    <a id="photo-link${element.id}"  href='${page_url}'>
                        <img src="${element.photo}" alt="нет фото" class="card-img-top mx-auto" style="max-width: 100%; height: auto;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">${element.user.username}</h5>
                        <p class="card-text">${element.description}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="http://127.0.0.1:8000/static/images/chat.png" class="like-comment-image me-2" alt="comments" />
                                <span>${element.comment_count}</span>
                            </div>
                            <div id="likes" >
                                
                                <img src="http://127.0.0.1:8000/static/images/heart.png" class="like-comment-image" alt="likes" />
                                ${element.like_count}
                            </div>
                        </div>
                    </div>
                </div>
                `
            ;


            token = localStorage.getItem('token');

            
            document.getElementById('row').appendChild(card);
                    
        });       
    }

    

    document.addEventListener('DOMContentLoaded', () => {
        fetchPhotos(); // Изначально загружаем фотографии


        // Обработчик изменения фильтра
        document.getElementById('filter').addEventListener('change', () => {
            const sort_field = document.getElementById('filter').value;
            const sort_direction = document.getElementById('filter_direction').value;
            fetchPhotos(1, 10, sort_field, sort_direction);
        });

        document.getElementById('filter_direction').addEventListener('change', () => {
            const sort_field = document.getElementById('filter').value;
            const sort_direction = document.getElementById('filter_direction').value;


            fetchPhotos(1, 10, sort_field, sort_direction);
        });
        document.getElementById('prev-button').addEventListener('click', () => {
            page=document.getElementById('prev-button').value;
            sort_field = document.getElementById('filter').value;
            sort_direction = document.getElementById('filter_direction').value;
            fetchPhotos(page, 10, sort_field, sort_direction);
        });
        document.getElementById('next-button').addEventListener('click', () => {
            page=document.getElementById('next-button').value;
            sort_field = document.getElementById('filter').value;
            sort_direction = document.getElementById('filter_direction').value;
            fetchPhotos(page, 10, sort_field, sort_direction);
        });
    });
</script>









{% endblock %}