{% extends "base.html" %}
{% load static %}
{%block title%}Photo List{%endblock%}
{%block content%}
<div class ="post-container">
        {% for photo in object_list %}
        <form action="{% url 'photo_page' photo.id %}" method="get">
            <button type="submit" class="my-button">
                <div class="post">

                    <h1>{{ photo.user}}<h1> 
                    <h1>{{photo.caption}}</h1>
                    <img src={{photo.photo.url}} alt="нет фото"/>
                    <div class="coment-and-like-container">
                        <div class="left-element">
                            <img src="{% static 'images/chat.png' %} " class="like-comment-image"/>
                            {{photo.model_relation.count}}
                        </div>
                        <div class="right-element">
                            <img src="{% static 'images/heart.png' %}" class="like-comment-image"/>
                            {{photo.likes.count}}
                        </div>
                    </div>
                </div> 
            </button>  
            </form>
        {% endfor %}
</div>
{%endblock%}
